/**
 * @file
 * Styling for Multiversion switcher block.
 */

#block-workspaceswitcher input[type="submit"],
#block-workspaceswitcher input[type="submit"]:hover {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0.2em 0 0 0 ;
  margin: 0;
  color: #0071b3;
  border-bottom: 1px dotted;
  text-decoration: none;
}

#block-workspaceswitcher input[type="submit"]:hover {
  border-bottom-style: solid;
  color: #018fe2;
}

#block-workspaceswitcher input[type="submit"].active {
  border-bottom-style: solid;
  color: #23aeff;
}
