{#
/**
 * @file
 * Default theme implementation for deployment.
 *
 * @see template_preprocess_workspace_deployment()
 *
 * @ingroup themeable
 */
#}

<div>
    {% for workspace in content %}
      {{ workspace.label.value }}
    {% endfor %}
    <iframe width="100%" height="100%" frameborder="0" src="/?workspace={{active_workspace_id}}"></iframe>
</div>