{#
/**
 * @file
 * Default theme implementation for the Workspace toolbox.
 *
 * @see template_preprocess_workspace_toolbox()
 *
 * @ingroup themeable
 */
#}

<div class="toolbox">
  <ul>
    {% for workspace_form in workspace_forms %}
      <li>{{ workspace_form }}</li>
    {% endfor %}
  </ul>

  <div class="control-block">
    {{ control_block }}
    {{ deploy_form }}
  </div>
  <button type="button" class="toolbox-close" aria-pressed="false">Close Workspace toolbox</button>
</div>