{#
/**
 * @file
 * Default theme implementation to present a list of a Workspace's conflicted entities.
 *
 * Available variables:
 * - revisions: A collection of all revisions for this workspace.
 *   Each revision contains the following:
 *   - link: A link to the conflicted revision.
 *
 * @see template_preprocess_block_content_add_list()
 *
 * @ingroup themeable
 */
#}
<ul class="admin-list">
    {% for revision in revisions %}
        <li class="clearfix">
          {{ revision.link }}
        </li>
    {% endfor %}
</ul>
